@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.tituloIndex {
  font-size: xx-large;
  font-weight: bolder;
  font-style:oblique;
  text-align: center;
  margin-top: 200px;
}

.breadCrumb {
  text-align: center;
  font-weight: bolder;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

.mainContainer > main {
  height: 100%;
  overflow-y: scroll;
}

.mainContainer > footer {
  background-color: rgb(155, 152, 152);
  padding: 10px;
  border-top: 1px solid grey;
  box-shadow: 1px 1px grey;

}

.footerStyle{
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(237, 237, 238);
  border-bottom: 1px solid gray;
  box-shadow: 1px 1px gray;
}

.navbar > li {
  display: flex;
  align-items: center;
}

.logo {
  height: 70px;
}

.botonGenerico {
  border: 0px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;
}
.botonGenerico:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.mainButton {
  background-color: #1bb76e;
  color: white;
}

.mainButton:hover {
  box-shadow: 1px 1px green;
}

.secondaryButton {
  background-color: #66d8f5;
  color: white;
}

.secondaryButton:hover {
  box-shadow: 1px 1px rgb(119, 229, 233);
}

.botonRegistro {
  border: 0px;
  padding: 3px 8px;
  border-radius: 7px;
  background-color: burlywood;
}
.botonRegistro:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.botonEdit {
  border: 0px;
  padding: 2px 4px;
  border-radius: 3px;
}

.colorBotonEdit{
  background-color: rgba(128, 126, 125, 0.418);
}

.botonEdit:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.botonDelete {
  background-color:rgba(128, 126, 125, 0.418);
}

.buscar {
  background-color: white;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 8px;
  width: 600px;
  display: flex;
  align-items: center;
  margin:10px;
}

.buscar:focus-within {
  border: 1px solid blue;
}

.buscar > input {
  outline: none;
  border: 0px;
  text-align: start;
  margin-left: 10px;
  width: 600px;
}

.buscar > select {
  margin:0px;
}

.iconoBusqueda:hover {
  color: blue;
}

.breedCardContainer {
  display: flex;
  flex-wrap: wrap;
}

.breedCard {
  margin: 10px;
  background-color: rgb(78, 78, 90);
  box-shadow: 5px 10px 5px rgb(231, 231, 231);
  border-radius: 10px;
}

.breedTitle {
  color: white;
  margin: 10px;
  font-weight: bold;
  font-size: x-large;
}

.contenedorImagen {
  width: 240px;
  height: 350px;
  display: flex;
  margin-bottom: 10px;
}

.contenedorImagen:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.contenedorImagen > img {
  object-fit: cover;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.backGroundRojo {
  background-color: red;
}
.backGroundVerde {
  background-color: green;
}

.administrarHeader{
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.table{
  width: 100%;
}

.td{
  border: black 2px;
  width: 10%;
  padding-top: 10px;
}

.tdColor{
  background-color: darkcyan;
  border: black;
}

.colorEncabezado{
  background-color: grey;
  font-weight: bolder;
}

.contenedorTabla{
  padding-top: 10px;
}

.formulario{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.formulariodiv {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  font-weight: bolder;
}

.formulario>label{
  font-weight: bolder;
  padding-left: 10px;
  padding-top: 10px;
}

.formulario>input,select {
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 5px
}

.etiquetaAgregarProductoInfo {
  font-weight: bolder;
  padding-left: 10px;
  padding-top: 10px;
}

.ContenedorBotonesGuardar{
  display: flex;
  padding-left: 600px;
  padding-right: 600px;
  padding-top: 30px;
  justify-content: space-between;
}

